.not-support {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &.modal-dialog {
        width: 90% !important;
        padding: 30px 20px;
        max-width: 400px;
    }

    &__top {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;

        h3 {
            color: var(--black-700);
            font-size: 1.25rem;
            font-weight: 800;
            line-height: 28px;
            text-align: center;
        }

        h2 {
            font-size: 1rem;
            font-weight: 500;
            line-height: 28px;
            text-align: center;

            b {
                font-weight: 700;
            }
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;

        button {
            height: 60px;
        }
    }
}
