.moderator-management-badge {
    .admin-badge__content {
        display: flex;
    }

    &__top {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h1 {
            font-size: 1rem;
            color: #797979;
            font-weight: 600;
        }

        h2 {
            color: var(--blue-700);
            font-size: 1.75rem;
            font-weight: 800;
        }
    }

    &__stats {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__list {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        p {
            min-width: 150px;
            color: var(--black-700);
            font-size: 1rem;
            font-weight: 600;
        }

        b {
            color: var(--gray-500);
            font-weight: 600;
            font-size: 1rem;
        }

        span {
            display: flex;
            align-items: center;
            color: var(--red-500);
            gap: 5px;
            cursor: pointer;
        }
    }
}
