.custom-battle {
    padding: 26px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    // overflow-y: scroll;

    position: relative;

    &__header {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h3 {
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: 600;
            background-image: linear-gradient(to right, #8e00e5, #ff6b00);
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            line-height: 22px;
        }

        p {
            color: var(--black-700);
            font-weight: 800;
            font-size: 1.875rem;
            line-height: 39px;
        }

        small {
            font-size: 1rem;
            color: var(--black-700);
            line-height: 22px;
            font-weight: 400;
        }
    }

    form,
    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__footer {
    }
}

.battle-plan {
    .tab-top-wrapper {
        position: relative;
        background-color: transparent;
        height: 110px;
        min-height: 110px;
    }

    &__hint {
        margin: 20px 0;
    }
}
