.gallery-item {
    background-color: #ddddff;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    user-select: none;

    &__zoom {
        width: 20px;
        height: 20px;
        background-color: var(--blue-700);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 7px;
        right: 7px;
    }

    &__top {
        img {
            width: 100%;
            object-fit: cover;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        padding: 8px 11px;

        p {
            color: #322b34;
            font-size: 0.625rem;
            font-weight: 600;
        }
    }
}
