.money-received-graph {
    width: 100%;

    &__wrapper {
        display: flex;

        width: 100%;
    }

    &__item {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;

        &:first-child {
            .money-received-graph__block {
                border-radius: 5px 0 0 5px;
                overflow: hidden;
            }
        }

        &:last-child {
            .money-received-graph__block {
                border-radius: 0 5px 5px 0;
                overflow: hidden;
            }
        }

        &:not(:first-child) {
            .money-received-graph__block {
                border-left: 1px solid rgba(0, 0, 0, 0.089);
            }
        }
    }

    &__block {
        width: 100%;
        height: 41px;
        display: flex;
        align-items: center;
        padding: 5px;
        box-sizing: border-box;
        background-color: var(--gray-400);
        position: relative;

        img {
            position: absolute;
            top: 5px;
            right: 5px;
            display: none;
        }

        p {
            display: none;
        }

        &_checked {
            background-color: #05c33849;
            display: block;

            p {
                color: #09bc39;
                display: block;
            }
        }

        &_unchecked {
            background-color: #da1e2750;
            display: block;

            p {
                color: var(--red-500);
                display: block;
            }
        }

        p {
            font-size: 0.75rem;
            font-weight: 700;
            line-height: 16px;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 0.8125rem;
        line-height: 18px;
        color: var(--black-700);
    }

    small {
        color: var(--gray-500);
        font-size: 0.625rem;
    }
}
