.battle-progress {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__top {
        display: flex;
        justify-content: space-between;
        // flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    &__text-progress {
        color: #838383;
        font-weight: 700;
        font-size: 0.875rem;
        // width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;
    }

    &__drop {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        gap: 5px;
    }

    &__drop,
    &__text-progress {
        span {
            font-weight: 700;
            color: #7300e5;
        }
    }

    &__bar {
        div {
            height: 5px;
            width: 100%;
            background-color: var(--gray-400);
            border-radius: 15px;

            span {
                min-width: 5px;
                width: 5px;
                display: block;
                height: 100%;
                border-radius: 30px;
                background-color: #7300e5;
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
    }

    &__hint {
        color: #838383;
        font-size: 0.75rem;
        font-weight: 300;
    }

    &__users-count {
        color: #838383;
        font-size: 0.75rem;
        font-weight: 300;

        b {
            color: var(--blue-700);
        }
    }
}
