.statistics-page {
    .main-content {
        margin: 17px calc(var(--page_padding) * -1) 0 calc(var(--page_padding) * -1);
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}
