.sell-form {
    &__info {
        display: flex;
        gap: 15px;
        flex-direction: column;
        &-top {
            display: flex;
            gap: 10px;
            align-items: flex-end;
        }

        .input-with-title {
            flex: 0.7;

            .base-input {
                border: 2px solid #7300e5;
            }

            input {
                color: var(--black-700);
                font-weight: 500;
                font-size: 1.125rem;
            }
        }

        .button {
            flex: 0.3;

            button {
                height: 49px;
            }
        }
    }
}
