.battle-item {
    width: 100%;
    border-radius: 15px;
    background-color: #ebebff;
    padding: 16px var(--page_padding);
    box-sizing: border-box;

    &__top {
        margin-bottom: 20px;
        display: flex;
        gap: 15px;

        .free-icon {
            margin-right: 0;
            margin-left: auto;
        }
    }

    &__info {
        width: 100%;
    }

    &__header {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        h4 {
            font-size: 1.0625rem;
            font-weight: 700;
            color: #322b34;
        }

        &-q {
            background-color: var(--blue-300);
            border-radius: 50%;
            width: 23px;
            height: 23px;
            border: 1px solid var(--blue-600);
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--blue-600);
            font-weight: 700;
            font-size: 1rem;
            user-select: none;
            cursor: pointer;
        }
    }

    &__controls {
        display: flex;
        gap: 4px;

        .button button {
            height: 45px;
        }
    }

    .battle-status {
        text-align: right;
        font-size: 0.875rem;
        font-weight: 500;
    }

    &_continue {
        .battle-status {
            text-align: right;
            color: var(--blue-700);
            font-size: 0.875rem;
            font-weight: 500;
        }
    }

    &_lost {
        .battle-progress__bar div span {
            background-color: var(--red-500);
        }

        .battle-progress__text-progress span,
        .battle-status {
            color: var(--red-500);
        }
    }

    &_won {
        .battle-progress__bar div span {
            background-color: var(--green-500);
        }

        .battle-progress__text-progress span,
        .battle-status {
            color: var(--green-500);
        }
    }

    &_waiting {
        .battle-progress__bar div span {
            background-color: var(--blue-700);
        }

        .battle-progress__text-progress span,
        .battle-status {
            color: var(--blue-700);
        }
    }
}
