.remove-blogger-modal {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &.modal-dialog {
        width: 95% !important;
        padding: 30px 20px;
        max-width: 400px;
    }

    &__top {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;

        h3 {
            color: var(--black-700);
            font-size: 1.25rem;
            line-height: 28px;
            text-align: center;
            font-weight: 800;

            b {
                font-style: italic;
                font-weight: 500;
            }
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        button {
            height: 60px;
        }
    }
}
