.stack-bar-diagram-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    &__line {
        height: 10px;
        width: 100%;
        display: flex;
        overflow: hidden;
        border-radius: 10px;
        flex-shrink: 0;

        div {
            height: 100%;
        }
    }

    &__info {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__legend {
        display: flex;
        flex-shrink: 0;
        font-size: 0.875rem;
        align-items: center;
        gap: 3px;
        font-weight: 500;

        p {
            color: #818181;
        }

        span {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            overflow: hidden;
        }
    }
}
