.user-entity {
    display: flex;
    gap: 10px;
    align-items: center;

    small {
        color: var(--black-700);
        font-size: 0.75rem;
        line-height: 17px;
        font-weight: 600;
    }

    p {
        color: var(--blue-800);
        font-size: 1rem;
        line-height: 22px;
        font-weight: 600;

        b {
            font-weight: 800;
            font-size: 1.125rem;
        }
    }
}
