.chat-message {
    display: flex;
    gap: 10px;

    &.me-message {
        justify-content: flex-end;

        .chat-message__wrapper {
            align-items: flex-end;

            small {
                text-align: left;
                width: 100%;
            }
        }
        .chat-message__text {
            border-radius: 10px 0 10px 10px;
        }
    }

    &__avatar {
        border: 2px solid var(--blue-700);
        border-radius: 50%;
    }

    &__file {
        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            overflow: hidden;
            max-height: 600px;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 5px;
        max-width: 80%;

        small {
            font-size: 0.75rem;
            color: var(--gray-500);
            line-height: 20px;
            font-weight: 400;
            text-align: right;
        }
    }

    &__user {
        color: var(--blue-800);
        font-size: 1rem;
        font-weight: 600;
    }

    &__text {
        font-size: 1rem;
        color: var(--black-700);
        font-weight: 400;
        line-height: 24px;
        background-color: var(--blue-200);
        border-radius: 0 10px 10px 10px;
        padding: 10px 15px;
        white-space: pre-line;
        word-break: break-all;
    }
}
