.line-step-progress {
    width: 100%;

    &__wrapper {
        background: #ebebff;
        width: 100%;
        height: 8px;
        border-radius: 4px;
        box-sizing: border-box;

        display: flex;
        justify-content: space-around;

        position: relative;
    }

    &__line {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        border-radius: 100px;
        background: linear-gradient(270deg, #ff6b00 0%, #8e00e5 100%);
        transition: 0.3s all;
    }

    &__point {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #cdcdcd;
    }
}
