// FADE
.fade-enter {
    opacity: 0;
    transform: translateX(100%);
}
.fade-enter-active {
    opacity: 1;
    transform: translateX(0%);
}
.fade-exit {
    opacity: 1;
    transform: translateY(0%);
}
.fade-exit-active {
    opacity: 0;
    transform: translateY(-100%);
}
.fade-enter-active,
.fade-exit-active {
    transition:
        opacity 500ms,
        transform 500ms;
}

// // popupTransition TopBot
// .popupTransitionTopBot-enter {
//     opacity: 0;
//     transform: translateY(-100%);
// }
// .popupTransitionTopBot-enter-active {
//     opacity: 1;
//     transform: translateY(0%);
// }
// .popupTransitionTopBot-exit {
//     opacity: 1;
//     transform: translateY(0%);
// }
// .popupTransitionTopBot-exit-active {
//     opacity: 0;
//     transform: translateY(-100%);
// }
// .popupTransitionTopBot-enter-active,
// .popupTransitionTopBot-exit-active {
//     transition:
//         opacity 500ms,
//         transform 500ms;
// }

// // popupTransition BotTop
// .popupTransitionBotTop-enter {
//     opacity: 0;
//     transform: translateY(100%);
// }
// .popupTransitionBotTop-enter-active {
//     opacity: 1;
//     transform: translateY(0%);
// }
// .popupTransitionBotTop-exit {
//     opacity: 1;
//     transform: translateY(0%);
// }
// .popupTransitionBotTop-exit-active {
//     opacity: 0;
//     transform: translateY(100%);
// }
// .popupTransitionBotTop-enter-active,
// .popupTransitionBotTop-exit-active {
//     transition:
//         opacity 500ms,
//         transform 500ms;
// }

// DropList
.dropList-enter {
    opacity: 0;
}
.dropList-enter-active {
    opacity: 1;
}
.dropList-exit {
    opacity: 1;
}
.dropList-exit-active {
    opacity: 0;
}
.dropList-enter-active,
.dropList-exit-active {
    transition:
        opacity 300ms,
        transform 300ms;
}

// MenuNavigationMain
.MenuNavigationMain-enter {
    transform: rotate(-360deg);
}
.MenuNavigationMain-enter-active {
    transform: rotate(0deg);
}
.MenuNavigationMain-exit {
    transform: rotate(0deg);
}
.MenuNavigationMain-exit-active {
    transform: rotate(-360deg);
}
.MenuNavigationMain-enter-active,
.MenuNavigationMain-exit-active {
    transition:
        opacity 300ms,
        transform 300ms;
}
