.exchange-page {
    .tab-top-wrapper {
        position: relative;
    }

    &__tabs {
        position: absolute;
        bottom: 0;
        width: calc(100% - (var(--page_padding) * 2)) !important;
    }

    .main-content {
        margin: 17px calc(var(--page_padding) * -1) 0 calc(var(--page_padding) * -1);
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}
