.tab-menu {
    display: flex;
    justify-content: space-between;
    gap: 4px;
    width: 100%;
    box-sizing: border-box;

    .filter-control {
        color: #b885ff;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        box-sizing: border-box;
        position: relative;
        min-height: 35px;
        cursor: pointer;

        span {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 100px;
            height: 3px;
            display: block;
            background-color: #b885ff;
        }

        &.active {
            color: #7300e5;
            font-weight: 600;

            span {
                background-color: #7300e5;
            }
        }
    }
}
