.achievement-swiper {
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(105px, 1fr));
        justify-content: space-between;
        gap: 10px;
    }

    .swiper-wrapper {
        .button {
            width: 90%;
            margin: 0 auto;
            margin-top: 10px;
        }
    }

    .swiper-pagination {
        transform: translateX(0);
        position: static;
        margin: 0 auto;
        margin-top: 20px;
        padding-bottom: 16px;

        .swiper-pagination-bullet {
            background: #7300e55e;
        }

        .swiper-pagination-bullet-active {
            background: #6f00dd;
        }
    }
}
