.not-user-premium-modal {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &.modal-dialog {
        width: 90%;
        padding: 30px 20px;
        max-width: 400px;
    }

    &__top {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;

        h3 {
            color: var(--black-700);
            font-size: 1.25rem;
            font-weight: 800;
            line-height: 28px;
        }
    }

    &__description {
        p {
            text-align: center;
            color: #838383;
            font-size: 0.9375rem;
            line-height: 21px;
            font-weight: 500;

            b {
                font-weight: 700;
            }
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        button {
            height: 60px;
        }
    }
}
