.support-chat-page {
    height: 100%;
    .tab-top-wrapper {
        display: flex;
        gap: 15px;

        img {
            border: 2px solid var(--blue-700);
            border-radius: 50%;
        }
    }

    &__top {
        display: flex;
        flex-direction: column;
        gap: 6px;

        h1 {
            font-size: 1.25rem;
            line-height: 27px;
            color: var(--black-700);
        }

        p {
            line-height: 22px;
            font-size: 1rem;
            color: #838383;
        }
    }

    .main-content {
        position: relative;
        height: calc(100% - 230px);
        padding-bottom: 60px;
        margin-top: 0;
    }
}
