.users-statistics-badge {
    .admin-badge__content {
        display: flex;
        flex-direction: column;
    }

    &__top {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h1 {
            font-size: 1rem;
            color: #797979;
            font-weight: 600;
        }

        h2 {
            color: var(--blue-700);
            font-size: 1.75rem;
            font-weight: 800;
        }
    }

    &__stats {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__row {
        display: flex;
        justify-content: space-between;

        p {
            min-width: 150px;
            color: var(--gray-500);
            font-size: 1rem;
            font-weight: 600;
        }

        b {
            color: var(--black-700);
            font-weight: 600;
            font-size: 1rem;
        }
    }
}
