.tournament-grid--widget {
    .base-battle-widget__content {
        display: flex;
        gap: 0;
    }

    .base-battle-widget__controls {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .button.transparent button {
            color: var(--red-500);
            text-decoration: underline;
            font-size: 0.875rem;
        }

        .button.stroke button {
            background-color: #ffe2e4;
            border-color: var(--red-500);
            color: var(--red-500);
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .tournament-grid--widget__row {
            padding: 0;
            border: 0;

            p {
                text-align: right;
            }
        }
    }

    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__you {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        border-bottom: 2px solid var(--blue-300);
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        flex-wrap: wrap;
        gap: 10px;
        margin: 20px 0;
    }

    &__row {
        border-top: 2px solid var(--blue-300);
        width: 100%;
        padding: 17px 0;

        p {
            color: var(--blue-600);
            font-size: 0.875rem;
            line-height: 20px;
            font-weight: 600;

            b {
                color: var(--blue-800);
                font-size: 1rem;
            }
        }
    }

    &__hint {
        color: var(--blue-600);
        font-size: 0.875rem;
        line-height: 20px;
        font-weight: 600;
        text-align: center;
    }
}
