.photo-gallery-badge {
    .badge__content {
        display: block;
    }

    &__swiper {
        margin: 0 calc(var(--page_padding) * -1);
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(112px, 1fr));
        justify-content: space-between;
        gap: 10px;
        padding: 0 var(--page_padding) 0 var(--page_padding);
    }

    .swiper-pagination {
        transform: translateX(0);
        position: static;
        margin: 0 auto;
        margin-top: 20px;

        .swiper-pagination-bullet {
            background: #7300e55e;
        }

        .swiper-pagination-bullet-active {
            background: #6f00dd;
        }
    }
}
