.battle-statistics-progress {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;

    &__top {
        p {
            color: #838383;
            font-size: 0.625rem;
            font-weight: 700;

            span {
                color: var(--blue-700);
            }
        }
    }

    &__bar {
        width: 100%;
        div {
            height: 3px;
            width: 100%;
            background-color: var(--gray-400);
            border-radius: 15px;

            span {
                min-width: 3px;
                width: 3px;
                display: block;
                height: 100%;
                border-radius: 15px;
                background-color: #7300e5;
            }
        }
    }
}
