.test-result-page {
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: scroll;

    .stories {
        height: 100svh;

        .story-item {
            align-items: flex-end;

            &__header {
                display: flex;
                width: 100%;
                justify-content: space-between;
            }

            &__free {
                background: linear-gradient(90.13deg, #05c338 0.13%, #8ce201 99.91%);
                color: #fff;
                font-weight: 700;
            }

            &__text {
                text-align: left;
            }
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h3 {
            color: #8e00e5;
            font-weight: 600;
            font-size: 1rem;
            text-transform: uppercase;
        }

        h2 {
            font-size: 1.5rem;
            font-weight: 800;
            line-height: 30px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        // height: calc(100svh - var(--page_padding) * 2 - 265px);
        min-height: calc(100svh - var(--page_padding) * 2 - 265px);
    }

    &__img {
    }
}

@media (min-width: 400px) {
    .test-result-page .story-item svg {
        transform: scale(1.1);
    }
}

@media (min-width: 429px) {
    .test-result-page .story-item svg {
        transform: scale(1.2);
    }
}
