.popup-base {
    &__modal {
        background-color: #fff;
        border-radius: 15px;
        width: 360px;
        position: fixed;
        bottom: 145px;
        left: 50%;
        transform: translateX(-50%);

        .triangle {
            width: 48px;
            height: 48px;
            background-color: white;
            clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
            border-radius: 5px;
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: rotate(-45deg) translateX(-76%);
        }
    }

    &__header {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--blue-300);
        border-radius: 15px 15px 0 0;
        width: 100%;

        p {
            color: var(--black-700);
            font-weight: 700;
            line-height: 18px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 25px 15px;
        box-sizing: border-box;

        &_finished {
            gap: 20px;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 10px;

        .row-title {
            color: var(--blue-800);
            font-size: 0.875rem;
            font-weight: 600;
            width: 90px;
            flex-shrink: 0;
        }

        .select-input {
            width: 100%;
        }
    }

    &__status {
        font-weight: 600;
        font-size: 1.0625rem;
        color: var(--black-700);
        line-height: 25px;
        text-align: center;
    }

    &__result {
        font-weight: 500;
        font-size: 1rem;
        line-height: 25px;
        color: var(--black-700);
        text-align: center;

        b {
            font-weight: 600;
            color: var(--blue-700);
        }
    }

    &__banner {
        margin: 0 auto;
    }

    &__receive {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        color: #e01d46;
        font-weight: 700;
        font-size: 0.9375rem;
    }
}
