.story-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    svg {
        z-index: 0;
    }

    &__content {
        position: absolute;
        top: 58px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        max-width: 390px;
        width: 90%;
        z-index: 1;
    }

    &__day {
        background-color: #8000ff;
        border-radius: 100px;
        padding: 12px 34px;
        width: fit-content;
        height: 49px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            font-size: 1.125rem;
            color: #fff;
            font-weight: 600;
        }
    }

    &__text {
        font-size: 1.5rem;
        color: #6604c7;
        font-weight: 800;
        text-align: center;
        line-height: 32px;

        span {
            display: inline;
            color: #f77600;
        }
    }
}
