.user-profile-statistic-badge {
    .badge__content {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    &__row {
        display: flex;

        p {
            color: var(--gray-500);
            font-weight: 600;
            font-size: 1rem;
            min-width: 160px;
        }

        b {
            color: var(--black-700);
            font-weight: 600;
            font-size: 1rem;
        }
    }
}
