.referrals-page {
    .main-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 0px;
    }

    &__info {
        display: flex;
        gap: 30px;

        .info-item {
            display: flex;
            flex-direction: column;
            gap: 5px;

            p {
                color: #797979;
                font-size: 1rem;
                font-weight: 600;
            }

            small {
                color: var(--blue-700);
                font-size: 1.75rem;
                font-weight: 800;

                display: flex;
                align-items: center;
                gap: 5px;
            }
        }
    }

    &__footer {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .send-battle-code-badge .badge__content .base-input input {
            font-size: 0.875rem;
            text-transform: lowercase;
        }

        .send-battle-code-badge__row {
            flex-direction: column;
        }

        .send-battle-code-badge__row .base-input,
        .send-battle-code-badge__row .button {
            width: 100%;
            max-width: none !important;
        }

        .button.transparent button,
        .send-battle-code-badge__row .base-input input {
            height: 40px;
        }
    }
}
