.battle-statistics {
    .base-battle-widget__content {
        display: flex;

        .battle-statistics-progress {
            gap: 10px;
            &__top {
                p {
                    font-size: 1.125rem;
                    font-weight: 700;
                }
            }

            &__bar {
                div {
                    height: 8px;

                    span {
                        height: 8px;
                        width: 40%;
                    }
                }
            }
        }
    }
}
