.join-battle-page {
    .tab-top-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-height: inherit;

        p {
            color: #838383;
            font-size: 1rem;
            font-weight: 500;
            line-height: 22px;
        }
    }

    .main-content {
        margin: 17px calc(var(--page_padding) * -1) 0 calc(var(--page_padding) * -1);
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}
