.base-battle-widget {
    &__header {
        height: 38px;
        display: flex;
        padding: 0 var(--page_padding);
        align-items: center;
        justify-content: space-between;
        background-color: #ddddff;

        border-radius: 15px 15px 0 0;

        a {
            color: #7300e5;
            font-weight: 600;
            font-size: 1rem;
            text-decoration: none;
            display: block;
            margin-right: 0;
            margin-left: auto;
        }
    }

    &__title {
        color: #322b34;
        font-weight: 700;
        font-size: 1rem;
    }

    &__more {
        color: var(--blue-700);
        font-weight: 600;
        font-size: 0.875rem;
    }

    &__content {
        padding: 16px var(--page_padding);
        background-color: #ebebff;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
        border-radius: 0 0 15px 15px;
    }

    &__controls {
        width: 100%;
    }
}
